<html>
    <head>
        <title>Interlearn.AI</title>
        <link rel="stylesheet" href="index1.css" type="text/css" charset="utf-8"/>
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="login.php" target="_blank">Login</a></li>
                    <li><a href="register.php" target="_blank">Register</a></li>
                    <li><a href="about.html">About Us</a></li>
                </ul>
            </div>

            <div class="carousel">
                <div class="slide">
                    <img src="images/bg.jpg" alt="Image 1">
                </div>
                <div class="content">
                    <p>Welcome to Interlearn.AI, where advanced AI technology meets personalized education to transform the way you learn. Our platform creates customized learning paths tailored to your unique strengths and needs, ensuring you receive the most effective tutoring experience possible. With 24/7 availability, Interlearn.AI is always ready to help you achieve your academic goals, anytime and anywhere. Join us today and unlock your full potential with the power of AI-driven tutoring.</p>
                </div>
            </div>
           
            
       
        </div>
        <div class="content1">
            <h1>BREAKING THE FOURTH WALL IN ONLINE EDUCATION</h1>
            <p>Interlearn.AI breaks the fourth wall in online education by seamlessly integrating AI-driven personalized learning experiences, fostering direct interaction between students and educational content.</p>
        </div>
    </body>
</html>
